<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Usuario Jefe</title>
    <link rel="stylesheet" href="/static/admin/css/styles.css">
    <script>
        function validatePassword() {
            var password = document.getElementById("boPassword").value;
            var confirmPassword = document.getElementById("boConfirmPassword").value;

            if (password !== confirmPassword) {
                alert("Contraseña incorrecta");
                return false;
            }

            return true;
        }
    </script>
</head>
<body>
    <div class="overlay"></div>
    <div class="container">
        <div class="create-boss-form">
            <h3>Crear Usuario Jefe</h3>
            <form method="post" onsubmit="return validatePassword();">
                {%csrf_token%}
                {%if error%}
                    <h2>{{error}}</h2>
                {%else%}
                <label for="Name">Nombre del Jefe:</label>
                <input type="text" id="boName" name="Name" required>

                <label for="Salary">Salario:</label>
                <input type="text" id="boSalary" name="Salary" required>

                <label for="Hire_Date">Fecha de contrato:</label>
                <input type="date" id="boHire_Date" value="yyyy-mm-dd" name="Hire_Date" required>

                <label for="Email">Email:</label>
                <input type="email" id="boEmail" name="Email" required>

                <label for="Phone">Teléfono:</label>
                <input type="text" id="boPhone" name="Phone" required>

                <label for="Password">Contraseña:</label>
                <input type="password" id="boPassword" name="Password" required>

                <label for="ConfirmPassword">Confirmar Contraseña:</label>
                <input type="password" id="boConfirmPassword" name="ConfirmPassword" required>

                <button type="submit">Crear Usuario Jefe</button>
                {%endif%}
            </form>
        </div>
    </div>
</body>
</html>