<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear restaurante</title>
    <link rel="stylesheet" href="/static/admin/css/styles.css">
</head>
<body>
    <div class="overlay"></div>
    <div class="container">
        <div class="create-restaurant-form">
            <h3>Crear Restaurante</h3>
            <form method="post">
                {%csrf_token%}
                {%if error%}
                    <h2>{{error}}</h2>
                {%else%}
                <label for="Name">Nombre del Restaurante:</label>
                <input type="text" id="rName" name="Name" required>

                <label for="Address">Dirección:</label>
                <input type="text" id="rAddress" name="Address" required>

                <label for="Phone">Teléfono:</label>
                <input type="text" id="rPhone" name="Phone" required>

                <button type="submit">Crear Restaurante</button>
                {%endif%}
            </form>
        </div>
    </div>
</body>
</html>
