<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Home</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </head>
    <body>
        <!--Navbar Creation-->
    <nav class="navbar navbar-expand-lg bg-body-tertiary navbar bg-dark border-bottom border-body" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/home/">Restaurant</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>  
          <button type="button" class="btn btn-link">Sing Up</button>
          </div>
        </div>
      </nav>
      <!--Menu Option-->
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/home/">Home</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Boss
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/create_boss/">Add Boss</a></li>
                    <li><a class="dropdown-item" href="/boss_list/">Boss List</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Menu
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/create_menu/">Add Menu</a></li>
                    <li><a class="dropdown-item" href="/menu_list/">Menu List</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Category
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/create_category/">Add Categorys</a></li>
                  <li><a class="dropdown-item" href="/category_list/">Category List</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Recipe
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/create_recipe/">Add Recipe</a></li>
                    <li><a class="dropdown-item" href="/recipe_list/">Recipe List</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Employee
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/create_employee/">Add Employes</a></li>
                    <li><a class="dropdown-item" href="/employee_list/">Employees List</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Administrative
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/create_administrative/">Add Administrative</a></li>
                    <li><a class="dropdown-item" href="/administrative_list/">Administrative List</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Manager
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/create_manager/">Add Manager</a></li>
                    <li><a class="dropdown-item" href="/manager_list/">Manager List</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Chef
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/create_chef/">Add Chef</a></li>
                    <li><a class="dropdown-item" href="/chef_list/">Chef List</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Cashier
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/create_cashier/">Add Cashier</a></li>
                    <li><a class="dropdown-item" href="/cashier_list/">Cashier List</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Waiter
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/create_waiter/">Add Waiter</a></li>
                    <li><a class="dropdown-item" href="/waiter_list/">Waiter List</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Customer
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/create_customer/">Add Customer</a></li>
                    <li><a class="dropdown-item" href="/customer_list/">Customer List</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Pay
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/create_pay/">Add Pay</a></li>
                    <li><a class="dropdown-item" href="/pay_list/">Pay List</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Order
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/create_order/">Add Order</a></li>
                    <li><a class="dropdown-item" href="/order_list/">Order List</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dish
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/create_dish/">Add Dish</a></li>
                    <li><a class="dropdown-item" href="/dish_list/">Dish List</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Ingredient
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/create_ingredients/">Add Ingredient</a></li>
                    <li><a class="dropdown-item" href="/ingredients_list/">Ingredient List</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Bill
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/create_bill/">Add Bill</a></li>
                    <li><a class="dropdown-item" href="/bill_list/">Bill List</a></li>
                </ul>
              </li>
            <!--<form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>-->
          </div>
        </div>
      </nav>
<form method ="POST">
    {%csrf_token%}
    {%if error%}
      <h2>{{error}}</h2>
    {%else%}
          <label name="SaucersN">SaucersN</label>
          <input type = "text" name = "SaucersN" >
            </br>
            {{Order_form.waiter.label_tag}}{{Order_form.waiter}}
            </br>
                {{Order_form.chef.label_tag}}{{Order_form.chef}}
            </br>
                <label for="customer_phone">Phone</label>
                <input type = "text" name = "customer_phone" >
            </br>
                {{Order_form.customer.label_tag}}{{Order_form.customer}}
            </br>
          <button type="submit">Add Order</button>
        {%endif%}
    </form>
</body>
</html>